<!DOCTYPE html>

{% load static %}

{% load staticfiles %}
{% block content %}
<html lang="en">

	<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>A Strictly Student Startup Ecosystem</title>


		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/emoji.css' %}" >
		<link rel="stylesheet" href="{% static 'css/mediapost.css' %}" >
		<link rel="stylesheet" href="{% static 'css/head.css' %}" >
		<link rel="stylesheet" href="{% static 'css/morphext.css' %}" >



    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/fav.png' %}"/>
    <!-- <link href="{% static 'assets/css/material-kit.css' %}" rel="stylesheet" /> -->

	</head>

  <body>

    <!-- Header
    ================================================= -->
		<header id="header">
			<nav class="navbar navbar-default navbar-fixed-top menu">
				<div class="container">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index-register.html"><img src="{% static 'images/wb_black168.png' %}" alt="logo" /></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<form class="navbar-form navbar-right hidden-sm">
						<div class="form-group">
							<i class="icon ion-android-search"></i>
							<input type="text" class="form-control" placeholder="Search friends, photos, videos">
						</div>
					</form>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right main-menu">
							<li class="dropdown"><a href="{% url 'posts:post_create' %}">Home</a></li>
							{% if request.user.is_authenticated %}
							<li class="dropdown">
								<a href="{% url 'posts:post_list' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hey {{ request.user|capfirst }} <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
								<ul class="dropdown-menu newsfeed-home">
								</li><a class="dropdown-item" href="{% url 'accounts:user_logout' %}">Logout</a>

									<!-- <li><a href="index.html">Landing Page 1</a></li> -->
								 <!-- <li><a href="index-register.html">Landing Page 2</a></li> -->
								 {% else %}
								 <!-- <input type="submit" value="Create" class="btn btn-primary pull-right"> -->

								 <li class="btn btn-primary pull-right"><a href="{% url 'accounts:user_login' %}">signup</a></li>

{% endif %}

								</ul>
							</li>
							<!-- <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
								<ul class="dropdown-menu newsfeed-home">
									<li><a href="newsfeed.html">Newsfeed</a></li>
									<li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
									<li><a href="newsfeed-friends.html">My friends</a></li>
									<li><a href="newsfeed-messages.html">Chatroom</a></li>
									<li><a href="newsfeed-images.html">Images</a></li>
									<li><a href="newsfeed-videos.html">Videos</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
								<ul class="dropdown-menu login">
									<li><a href="timeline.html">Timeline</a></li>
									<li><a href="timeline-about.html">Timeline About</a></li>
									<li><a href="timeline-album.html">Timeline Album</a></li>
									<li><a href="timeline-friends.html">Timeline Friends</a></li>
									<li><a href="edit-profile-basic.html">Edit: Basic Info</a></li>
									<li><a href="edit-profile-work-edu.html">Edit: Work</a></li>
									<li><a href="edit-profile-interests.html">Edit: Interests</a></li>
									<li><a href="edit-profile-settings.html">Account Settings</a></li>
									<li><a href="edit-profile-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Pages <span><img src="{% static 'images/down-arrow.png' %}" alt="" /></span></a>
								<ul class="dropdown-menu page-list">
									<li><a href="index.html">Landing Page 1</a></li>
									<li><a href="index-register.html">Landing Page 2</a></li>
									<li><a href="newsfeed.html">Newsfeed</a></li>
									<li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
									<li><a href="newsfeed-friends.html">My friends</a></li>
									<li><a href="newsfeed-messages.html">Chatroom</a></li>
									<li><a href="newsfeed-images.html">Images</a></li>
									<li><a href="newsfeed-videos.html">Videos</a></li>
									<li><a href="timeline.html">Timeline</a></li>
									<li><a href="timeline-about.html">Timeline About</a></li>
									<li><a href="timeline-album.html">Timeline Album</a></li>
									<li><a href="timeline-friends.html">Timeline Friends</a></li>
									<li><a href="edit-profile-basic.html">Edit Profile</a></li>
									<li><a href="post_list">c</a></li>
									<li><a href="faq.html">FAQ Page</a></li>
									<li><a href="404.html">404 Not Found</a></li>
								</ul>
							</li> -->
						<!-- </ul> -->

					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>
		</header>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Holy guacamole!</strong> You should check in on some of those fields below.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      <!-- Landing Page Contents
      ================================================= -->

      <div id="lp-register">
        <div class="container wrapper">
          <div class="row">
            <div class="col-sm-5">
              <div class="intro-texts">
                <h1 class="text-white"> A Platform <span id="js-rotating">FOR,TO,BY</span> Students !!
</h1>
                <p> WiringBridge is a social network  that can be used to connect students. The platform makes the connection between various students and provide students with endless oppurtunities <br /> <br />Why are you waiting for?</p>
                <!-- <button class="btn btn-primary">Learn More</button> -->
              </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
              <div class="reg-form-container">

                <!-- Register/Login Tabs-->
                <div class="reg-options">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
                    <li><a href="#login" data-toggle="tab">Login</a></li>
                  </ul><!--Tabs End-->
                </div>

                <!--Registration Form Contents-->
                <div class="tab-content">
                  <div class="tab-pane active" id="register">
                    <!-- <form method="post">
                      {% csrf_token %}

                      <div class="title_text">Let's get start</div>
                      <div class="input_line">

                          <input class="input_content" id="user" type="text" required value="Lauren Nelson" {{form.username}}
                          <label for="user">Username</label>
                      </div>
                      <div class="input_line">

                          <input class="input_content" id="user" type="text" required value="Lauren Nelson" {{form.first_name}}
                          <label for="user">first name</label>
                      </div>
                      <div class="input_line">

                          <input class="input_content" id="user" type="text" required value="Lauren Nelson" {{form.last_name}}
                          <label for="user">last name</label>
                      </div>
                      <div class="input_line">

                          <input class="input_content" id="email_sign" type="text" required autofocus {{forms.email}}
                          <label for="email">Email</label>
                      </div>
                      <div class="input_line">

                          <input class="input_content" id="pass" type="password" required {{forms.password}}
                          <label for="pass">Password</label>
                      </div>
                      <div class="input_line">

                          <input class="input_content" id="c_pass" type="password" required {{forms.confirm_password}}
                          <label for="c_pass">Confirm Password</label>
                      </div>

                      <input type="submit" value="Login" class="btn btn-outline-success">

                    </form> -->
                    <!-- <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class="btn btn-outline-success">
</form> -->
                    <h3>Register Now !!!</h3>
                    <p class="text-muted">Be cool and join today. Meet millions</p>


                    <form method="post">
                       {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required="required" placeholder="Enter username">

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" minlength="6" id="exampleInputPassword1" name="password1" placeholder="Password" required>
                                    <small id="passHelp" class="form-text text-muted">Password must be greater than 6 characters in length</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword2">Confirm Password</label>
                                    <input type="password" class="form-control" minlength="6"  id="exampleInputPassword2" name="password2" required="required" placeholder="Enter Confirm Password">
                                </div>

                               {% comment %} <input type='submit' name='submit' value='sign_up'> {% endcomment %}
                               <input type='submit'  name='submit' class='btn btn-primary' value='Register'>
                       </form>

                  </div><!--Registration Form Contents Ends-->

                  <!--Login-->
                  <div class="tab-pane" id="login">
                    <h3>Login</h3>
                    <p class="text-muted">Log into your account</p>

                  <form name="Login_form" id='Login_form'  method="post">
    {% csrf_token %}
    {{form.as_p}}
    <small>
        <a href="{% url 'accounts:user_login' %}">Register</a>
        <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
    </small>
    <br>
    <input type="submit" value="Login" class="btn btn-outline-success">
</form>

                    <!--Login Form-->
                    <!-- <form  method="post">
                      {% csrf_token %}

                       <div class="row">
                        <div class="form-group col-xs-12">
                          <label for="my-email" class="sr-only">Email</label>
                          <input id="my-email" class="form-control input-group-lg" type="text" name="Email" title="Enter Email" placeholder="Your Email" {{form.username }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-xs-12">
                          <label for="my-password" class="sr-only">Password</label>
                          <input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Password" {{form.password }}
                        </div>
                      </div>
                      <p><a href="#">Forgot Password?</a></p>
                      <!-- <button type="submit">Login</button> -->

                      <!-- <input type="submit" value="Submit" class="btn btn-outline-success"> -->

                      <!-- <button class="btn sign_up" type="submit" value="Login" >
    <span>Log in</span>
</button> -->

                      <!-- <button class="btn btn-primary" type="submit" value="Login" >Login Now</button> -->
                    <!-- </form> -->
                    <!--Login Form Ends-->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-6">

              <!--Social Icons-->
              <ul class="list-inline social-icons">
                <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <!--preloader-->
      <div id="spinner-wrapper">
        <div class="spinner"></div>
      </div>

      <!-- Scripts
      ================================================= -->
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
      <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.appear.min.js' %}"></script>
      <script src="{% static 'js/jquery.incremental-counter.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

      <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
      <script src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <script src="{% static 'js/mediapost.js' %}"></script>
      <script src="{% static 'js/post.js' %}"></script>
      <script src="{% static 'js/like.js' %}"></script>
			<script src="{% static 'js/morphext.min.js' %}"></script>


      <!-- <script src="js/jquery-3.1.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.appear.min.js"></script>
      <script src="js/jquery.incremental-counter.js"></script>
      <script src="js/script.js"></script> -->


{% endblock %}
