{% extends 'posts/base.html' %}
{% block title %}Welcome to {{block.super}}{% endblock %}
{% block content %}

<div class="row">

        {% for p in pst %}

        <div class="cards-list">

        <div class="card 1">
          <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" />  Author: {{p.author}} <br>
            {{p.body}}
              <a href="{% url 'posts:post_detail' p.id %}">{{p.title}}</a><small style="float:right">{{p.created}}</small>
           </div>
          <div class="card_title title-white">
            {% if request.user.is_authenticated %}

            <p>
              <form action="{% url 'posts:like_post' p.id %}" method="post">
                  {% csrf_token %}
                  {% if is_liked %}
                  <button type="submit" name="psts_id" value="{{p.id}}" class="btn btn-danger">Dislike</button>
                  {% else %}
                  <button type="submit" name="psts_id" value="{{p.id}}" class="btn btn-primary">Like</button>
                  {% endif %}
              </form>

              {% endif %}<br>

            </p>
          </div>
        </div>
        {% endfor %}






</div>
{% endblock %}
